@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(180deg, #fff 15.1%, #e1c5b7 100%);
}
.row {
  max-width: 1100px;
  margin: 0 auto;
}

h1 {
  font-size: 64px;
}
h2,
h3 {
  font-size: 24px;
}
li {
  font-size: 22px;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.header {
  min-width: 1080px;
  height: 880px;
  background-image: url(./Tierarzt__IMG__Nadine/top__img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 60%;
}

.header__container {
  text-align: center;
  color: white;
}

.header__para {
  position: absolute;
  right: 32rem;
  bottom: 16rem;
}

.header__para span {
  font-size: 48px;
}
#svg {
  padding: 100px;
  position: absolute;
  left: 0;
  top: 0;
}

.svg__file:hover {
  cursor: pointer;
}
.link {
  position: relative;
  text-align: left;
  top: 8em;
  opacity: 0;
}

/* NAV */

nav {
  position: relative;
}

.btn__menu {
  background-color: transparent;
  text-align: center;
  font-size: 32px;
  border: none;
  cursor: pointer;
}
.hamburger {
  position: absolute;
  top: 4rem;
  left: 13.25rem;
}
.ham__whatsApp {
  left: 18rem;
}
.ham__telephon {
  left: 22rem;
}

.menu__backdrop {
  position: absolute;
  background-color: #24242456;
  width: 350px;
  top: 6rem;
  left: 13.2rem;
  right: 0;
  z-index: 100;
  transition: all 300ms ease;
  visibility: hidden;
  opacity: 0;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.menu__list {
  padding: 16px 0;
}
.menu__link {
  font-size: 32px;
}

.btn__menu--close {
  position: absolute;
  right: 0.85rem;
  top: 0.1rem;
  padding: 4px;
  color: white;
}

/*

Anschrift 

*/

section .anschrift__container {
  margin-top: -32px;
}

.anschrift__container--wrapper {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}
.anschrift__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 104px 0;
  text-align: center;
  background-color: white;
  width: 288px;
}
.anschrift__wrapper,
iframe {
  border-radius: 8px;
}
.anschrift__list {
  line-height: 1.5;
  font-size: 24px;
}

/* 

Kontakt

*/

.kontakt__container {
  position: relative;
  margin-top: 32px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.kontakt__list,
.times__list--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 2;
  border-radius: 16px;
  background-color: white;
  width: 496px;
  height: 292px;
  left: 0;
  bottom: 0;
}
.kontakt__li a {
  color: black;
  font-size: 24px;
}
.kontakt__icons {
  padding-right: 10px;
  width: 35px;
}

.times__para {
  position: absolute;
  bottom: -5rem;
  width: 496px;
  color: #342b26;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.times__para a {
  color: black;
}

/*

SPECS

*/

.specs__container {
  margin-top: 128px;
  margin-bottom: 128px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 2rem;
}

.specs__group--top img,
.specs_group--bottom img {
  padding-left: 32px;
}

.specs__group--top,
.specs_group--bottom {
  filter: drop-shadow(5px 5px 8px #9999a5);
  position: relative;
  display: flex;
}
.specs__images {
  transition: all 300ms ease;
}

.specs__group--top span,
.specs_group--bottom span {
  position: absolute;
  font-size: 24px;
  color: white;
  top: 8rem;
  margin-left: 5.5rem;
  overflow: hidden;
}
.specs__images:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* VET INFO */
.vet{
  margin-top: 107px;
  background-color: white;
}
.vet__container--wrapper {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vet__heading {
  text-align: center;
  padding-bottom: 24px;
  line-height: 1.5;
}
.vet__heading p {
  font-weight: 400;
  font-size: 32px;
}
.vet__info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vet__info img {
  padding-left: 32px;
}
.vet__info li {
  list-style-type: disc;
  font-size: 20px;
}
.vet__para {
  max-width: 577px;
  margin-left: 40px;
  font-size: 24px;
  font-weight: 400;
}
.vet_list {
  margin-left: 74px;
}

/*

FOOTER

*/
.footer {
  background-color: white;
  margin-top: 56px;
}
.footer__container {
  min-height: 273px;
}
.footer__container--wrapper {
  padding: 64px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__infos {
  display: flex;
  align-items: center;
}
.footer__info--para {
  font-size: 24px;
  padding-left: 16px;
}
.footer__link {
  padding-left: 64px;
  font-size: 24px;
  transition: all 500ms ease;
}

/* BreakPoints */

@media (max-width: 576px) {
  .header {
    min-width: 1000px;
    background-position: 80% 60%;
  }
  .header__para {
    right: -40%; /* Adjust the positioning of the header content */
    top: 10%; /* Adjust the positioning of the header content */
  }
  .header__para h1 {
    font-size: 60px;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}
